.svgButton {
  position: absolute;
  z-index: 1;
  bottom: 25px;
}

.svgButtonBg {
  --background: transparent !important;
  --box-shadow: none;
}

.svgIcon {
  font-size: 100px;
}

.teaching-title {
  box-shadow: none !important;
  margin-top: 79px;
}

.donation-title {
  color: #fe7d4e;
  font-size: 37px;
  font-weight: normal;
  letter-spacing: 0px;
  /* line-height: 36px; */
  padding-top: 35px;
  margin-bottom: 10px;
  margin-left: 35px;
}

.donation-subtitle {
  height: 30px;
  color: #0c112c;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0px;
  //  line-height: 30px;
  margin-left: 35px;
  text-transform: none;
  margin-bottom: 5px;
}

.titre_card {
  color: rgb(134, 135, 168);
  font-size: 24px;
  //font-family: Gilroy-ExtraBold;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 20px;
  margin-left: 35px;
  margin-left: 35px;
  padding-top: 45px;
  position: absolute;
}

.emptycard {
  background: rgb(255, 255, 255);
  box-shadow: 0px -7px 7px -7px rgba(0, 0, 0, 0.21);
  border-radius: 50px 50px 0px 0px;
  margin-top: 170px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 36px;
  border: 0px solid #000000;
}

.div-donation {
  margin-top: 10px;
  margin-right: 2px;
  margin-left: 2px;
}

.donation-col {
  display: contents;
}

.donation-card {
  width: 100px;
  height: 110px;
  border: none;
  box-shadow: none;
}

.donation-img {
  width: 100px;
  height: 110px;
  object-fit: cover;
  border-radius: 8.5px;
  background: #d8d8d8;
  padding: 0;
  margin: 0;
  border: 0;
}

.donation-amount {
  max-width: 310px;
  margin-left: auto;
  margin-right: auto;
}

.dollar-card {
  //   width: 110px;
  //   height: 135px;
  border: none;
  box-shadow: none;
}

.input-amount {
  width: 140px;
  color: rgb(12, 17, 44);
  font-size: 48px;
  font-weight: 800;
  text-align: left;
  letter-spacing: 0px;
}

.dollar-img {
  width: 56px;
  height: 56px;
}

.dollar-col {
  left: 77px;
}

.donation-question {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  color: rgb(12, 17, 44);
  font-size: 16px;
  letter-spacing: 0px;
  display: block;
}

.dollar-grid {
  width: 80%;
  --ion-grid-column-padding: 5px;
}

.donation-button {
  width: 326px;
  height: 60px;
  background-color: rgb(254, 125, 78);
  border-radius: 30px;
  color: white;
  margin-left: auto;
  margin-right: auto;

  align-items: center;
  margin-block: 10px;
  text-align: center;
}

.divider {
  margin-top: -17px;
  margin-left: 21px;
}

.cause-button {
  margin-left: 43px;
  width: 326px;
  //height: 60px;
  background-color: #fff;
  border-color: #53545a;
  border-radius: 30px;

  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.donation-select {
  --ion-color-primary: 53545a;
  --color: 53545a;
}

.donation-form {
  fieldset {
    border: 0px;
  }
  @media only screen and (max-width: 600px) {
    form {
      width: 600px;
      min-width: initial;
    }
  }
}

.card_donation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
  justify-content: center;
}

.mybox {
  border: 1px solid wheat;
}
