.svgButton {
  position: absolute;
  z-index: 1;
  bottom: 25px;
}

.svgButtonBg{
  --background: transparent !important;
  --box-shadow: none;
}

.svgIcon{
  font-size: 100px;
}

.userprofile-title{
    color: #fe7d4e;
    font-size: 37px;
    font-weight: normal;
    letter-spacing: 0px;
    /* line-height: 36px; */
    padding-top: 35px;
    margin-bottom: 10px;
    margin-left: 35px;
}

.userprofile-subtitle {
    height: 30px;
    color: #0c112c;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0px;
  //  line-height: 30px;
    margin-left: 35px;
    text-transform: none;

}
 

.emptycard {
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.21);
    border-radius: 50px 50px 0px 0px;
    margin-top: 170px;
    margin-left:0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 36px;
    border: 0px solid #000000;

  }

  .userpicture {
    width: 86px;
    height: 86px;
    background: rgb(255, 255, 255);
    border-radius: 15px 15px 15px 15px;
  }

  .usercard-img {
    width: 86px;
    height: 86px;
  }

  .username {
color: rgb(44, 64, 110);
font-size: 24px;
font-weight: 800;
letter-spacing: 0px;
  }

  .email {
color: rgb(134, 135, 168);
font-size: 16px;
letter-spacing: 0px;
  }


  .text-edit {

height: 26px;
color: rgb(254, 125, 78);
font-size: 16px;
letter-spacing: 0px;
  }
  .user-icon {
    width: 25px;
    height: 25px;
    padding: 5px;
    padding-left: 10px;
  }

  .user-logout{
    width: 326px;
    height: 60px;
    --background:var(--ion-color-ifcmgrey);
    border-radius: 30px;
    color: black;
    align-items: center;
    margin-block: 10px;
    text-align: center;
    margin-left: 25px;
  }

.flexprofile{
  display: flex;
  margin: 0;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.btnprofile{
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-right: 6%;
}
.trait_top{
  width: 352px;
height: 1px;
border: 1px solid rgb(244, 243, 241);
}
.aligncenter{
  text-align: center;
}

.bordertop{
  border-top: 1px solid rgb(244, 243, 241);
  width: 90%;
}
.borderbottom{
  border-top: 1px solid rgb(244, 243, 241);
  width: 90%;
}