.img_userdetail {
    width : 100px;
    height : 100px;
}

.profile-img {
    width: 300px;
height: 300px;
left : 10px;
right : 10px;
opacity: 100;
}


.userdetails-img {
    width: 120px;
    height: 120px;
}

.userpicture {
    width: 86px;
    height: 86px;
    background: rgb(255, 255, 255);
    border-radius: 15px 15px 15px 15px;
  }

.camera-icon {
        width: 30px;
    height: 30px;
    color: #fe7d4e;
    left: 24px;
    z-index: 10000;
    margin-left: 35px;
    margin-top: -27px;
    position: relative;
}

.user-details {
    color : #8687a8 !important;
    
}

.userdetails-icon {
    width: 30px;
    height: 30px;


}