.img_love{
    width: 589px;
    height: 397px;
    background: rgb(216, 216, 216);
    padding: 0;
    margin: 0;
}

.text_catégorie{
    background-color: chocolate;
    padding: 0;
    margin: 0;
    color: white;
    border-radius: 5px 5px 5px 5px;
    padding-left: 10px;
    padding-right: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    bottom: 65%;
    left: 5%;
    
}
.text_caté{
    width: 237px;
    height: 40px;
    color: rgb(255, 255, 255);
    font-size: 37px;
    //font-family: Raleway-SemiBold;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 36px;
    position: absolute;
    bottom: 56%;
    left: 5%;
}
.text_nombre{
    color: rgb(255, 255, 255);
    font-size: 16px;
    //font-family: Raleway-SemiBold;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 30px;
    position: absolute;
    bottom: 50%;
    left: 1%;
}

.back{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 15px;
    left: 15px;
}





.box{
    box-shadow: none !important;
}
.icon_lock{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 30%;
    left: 86%;
    
}


.header_title{
    color: #fe7d4e;
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 36px;
    position: absolute;
    left: -70px;
    top: 81px;
}
 
.header_text{
    color: rgb(12, 17, 44);
    font-size: 16px;
    //font-family: Raleway-Medium;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 30px;
    position: absolute;
    left: 41px;
    top: 100px;
}

.text_container{
    color: rgb(134, 135, 168);
    font-size: 24px;
    //font-family: Gilroy-ExtraBold;
    font-weight: 800;
    letter-spacing: 0px;
    line-height: 20px;
    position: absolute;
    left: 41px;
    top: 100px;
}

.date_eventdetails{

    color: rgb(254, 125, 78);

  }

  .eventdetailstitle {
    height: 30px;
    color: rgb(12, 17, 44);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0px;
    text-align: center;
  }