.img_love{
    width: 100%!important;
    height: 397px!important;
    object-fit: cover;
    background: rgb(216, 216, 216);
    padding: 0;
    margin: 0!important;
    overflow: hidden;
    border-radius: 15px;
    margin-inline: none!important;
}

.text_categorie{
    background-color: chocolate;
    padding: 25;
    margin: 0;
    color: white;
    border-radius: 5px 5px 5px 5px;
    padding-left: 10px;
    padding-right: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    bottom: 65%;
    left: 5%;
}

.text_cat_teaching{
    color: rgb(255, 255, 255);
    font-size: 37px;
    //font-family: Raleway-SemiBold;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 36px;
    position: absolute;
    bottom: 56%;
    left: 5%;
    text-transform: capitalize;
}
.text_nombre{
    color: rgb(255, 255, 255);
    font-size: 16px;
    //font-family: Raleway-SemiBold;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 30px;
    position: absolute;
    bottom: 50%;
    left: 1%;
}

.back{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 15px;
    left: 15px;
}
.text_title{
    width: 306px;
    height: 25px;
    color: rgb(134, 135, 168);
    font-size: 24px;
    //font-family: Gilroy-ExtraBold;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 20px;
    z-index: auto;
    position: relative;
    bottom: 38%;
    top: 33px;
    left: 8%;
}
.img_card{
    width: 54px;
    height: 54px;
    object-fit: cover;
    background: rgb(255, 255, 255);
    border-radius: 11px;
}
.text_card{
    width: 250px;
    height: 23px;
    color: rgb(12, 17, 44);
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 19px;
    position: absolute;
    top: 20px;
    left: 75px;

    word-wrap: break-word;
    overflow: hidden; /* make sure it hides the content that overflows */
  white-space: nowrap; /* don't break the line */
  text-overflow: ellipsis; /* give the beautiful '...' effect */
}

.author_card {

    width: auto !important;
    position: absolute;
    margin-right: auto;
    margin-left: auto;


}
.date_card{
    width: 87px;
    height: 20px;
    color: #c7c7c7;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 0px;
    line-height: 20px;
    position: absolute;
    top: 39px;
    left: 75px;
}
.card_teach{
    background: rgb(246, 246, 249);
    box-shadow: none !important;
    margin-bottom: -2px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    border-radius: 7px 7px 7px 7px;
    //width: 316px;
    //height: 77px;
    width: auto !important;
    height: auto !important;
    display: flex;
    height: 77px;
    margin-right: auto;
    margin-left: auto;
   // position: relative !important;
}
.card_techinglist{
    position: relative;
    top: 25%;
}
.box{
    box-shadow: none !important;
}

.black{
    color: black;
}
.ios .iospaddingbtm{
    top: 15px;
}