.donationcheck{
    margin-top: -48px!important;
}
.heartcheck{
 //   margin-top: 5px!important;
}
.div_heart{

}
.btn_donation{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}